
  <div *ngIf ="currentuser" class="alert alert-primary" role="alert">
    Thanks for signing up {{User.Email }} we will be sending your mail to {{User.Address + User.Address2 + User.Zip }}
    </div>
  {{User}}
  <form #regform="ngForm" (submit)="onSubmit(regform)">
      <div class="form-row">
        <div class="form-group col-md-6">
          <input
          name="Email" 
          required 
          minlength="2" 
          maxlength="50"
          [(ngModel)]="User.Email"
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
          #Email='ngModel'
          type="email" 
          class="form-control" 
          id="inputEmail4" 
          placeholder="Email">
          <div *ngIf="!Email.valid"
          class="alert alert-danger" 
          role="alert">
            Must be a valid Email!
            </div>
        </div>
        <div class="form-group col-md-6">
          <input
          type="password" 
          name="Password" 
          required 
          minlength="8" 
          maxlength="15"
          pattern="^([a-zA-Z0-9@*#]{3,15})$"
          [(ngModel)]="User.Password"
          #Password='ngModel'
          class="form-control" 
          id="inputPassword4" 
          placeholder="Password">
          <div *ngIf="!Password.valid"
          class="alert alert-danger" 
          role="alert">
            Must be a valid Password you B-ZEE!
            </div>
        </div>
      </div>
      <div class="form-group">
        <input 
        name="Address"
        [(ngModel)]="User.Address"
          type="text"
          #Address='ngModel'
          class="form-control"
          id="inputAddress" 
          placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <input 
        name="Address2"
        #Address2='ngModel'
        [(ngModel)]="User.Address2"
          type="text"
         class="form-control" 
         id="inputAddress2" 
         placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input 
          [(ngModel)]="User.City"
          #City='ngModel'
          type="text"
           class="form-control"
            id="inputCity"
            placeholder="City">
        </div>
        <div class="form-group col-md-4">
          <select 
          #State='ngModel'
          [(ngModel)]="User.State"
          id="inputState" 
          class="form-control">
            <option selected>Choose state</option>
            <option>California</option>
            <option>Somewhere else</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <input 
          #Zip='ngModel'
          [(ngModel)]="User.Zip"
          minlength="5"
          maxlength="5"
          type="text"
          pattern="(0-9)"
          class="form-control"
          id="inputZip"
          placeholder="Zipcode">
          <div *ngIf="!Zip.valid"
          class="alert alert-danger" 
          role="alert">
            needs to ve a valid zipcode 
            </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> check box if you are cool
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
